@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Valdymas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@
        @*-------------------------------- Personal section -------------------------------------*@
        <div class="nav-item px-3 border-bottom border-white border-4">
            <h3 class="text-white">Personal data</h3>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mycommunity">
                <span class="bi bi-community-fill-nav-menu" aria-hidden="true"></span> My community
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-tasks-fill-nav-menu" aria-hidden="true"></span> My utility services
            </NavLink>
        </div> *@
        @*---------------------------- Community Section -------------------------------------- *@
        <AuthorizeView Roles="Admin">
        <div class="nav-item px-3 border-bottom border-white border-4">
            <h3 class="text-white">Community</h3>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/communities/create">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Community
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/communities/edit">
                <span class="bi bi-pencil-fill-nav-menu" aria-hidden="true"></span> Edit Community
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/communities/delete">
                <span class="bi bi-trash-fill-nav-menu" aria-hidden="true"></span> Delete Community
            </NavLink>
        </div>
        </AuthorizeView>
        @*----------------------------------------- Utility Services section -------------------------- *@
        <AuthorizeView Roles="Admin, Manager">
        <div class="nav-item px-3 border-bottom border-white border-4">
            <h3 class="text-white">Utility Services</h3>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/utilities/create">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Utility Service
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/utilities/edit">
                <span class="bi bi-pencil-fill-nav-menu" aria-hidden="true"></span> Edit Utility Service
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/utilities/delete">
                <span class="bi bi-trash-fill-nav-menu" aria-hidden="true"></span> Delete Utility Service
            </NavLink>
        </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
