.bg-custom {
    background-color: #3a0647;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    .card:hover {
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

.table-hover tbody tr {
    cursor: pointer;
}

.list-group-item {
    border-left: none;
    border-right: none;
}
