@page "/mycommunity"
@using KP_Sistema.CONTRACTS.DTO.CommunityDTO
@inject HttpClient Http


<div>
    <h3>My Community</h3>
</div>

<input @bind="communityName" placeholder="Community name" />

<button @onclick="LoadCommunity">Go</button>

@if (communityReturnDTO != null)
{
    <div>
        <p>Name: @communityReturnDTO.Id</p>
        <p>Description: @communityReturnDTO.Name</p>
    </div>
}

@code {
    private string communityName;
    private CommunityReturnDTO? communityReturnDTO;

    private async Task LoadCommunity()
    {
        communityReturnDTO = await Http.GetFromJsonAsync<CommunityReturnDTO>($"/Community/name?name={communityName}");
    }
}
